.header{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    font-size: 30px;
    background-color: cornflowerblue;
    color: white;
    height: 100px;
}

.header .a{
    text-decoration: none;
}